.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 0; /* Elimina cualquier espacio entre celdas */
    margin: 20px auto;
    width: fit-content;
    background-color: lightblue;
    border: 2px solid black; /* Borde alrededor del tablero */
}

.position {
    width: 40px;
    height: 40px;
    background-color: #046c69; /* Color inicial */
    border: 2px solid black; /* Hace que se noten las celdas */
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.position:hover {
    background-color: #048b9a;
}
