/* Contenedor para los tableros y los controles */
.game-wrapper {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    width: 100%;
    align-items: center; /* Alinea los elementos al centro verticalmente */
}

/* Estilo para los contenedores de los tableros */
.boards-container {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Hace que los tableros ocupen un espacio mayor */
}

/* Contenedor de cada tablero */
.board-container {
    margin-right: 20px;
}

/* Estilos para los tableros */
.board {
    display: grid;
    grid-template-columns: repeat(10, 60px); /* Aumenta el tamaño de las casillas */
    grid-template-rows: repeat(10, 60px); /* Aumenta el tamaño de las casillas */
    gap: 0;
    margin: 10px auto;
    background-color: lightblue;
    border: 3px solid black; /* Cambié el grosor del borde */
}

/* Estilo para las posiciones de los tableros */
.position {
    width: 60px; /* Aumenta el tamaño de las casillas */
    height: 60px; /* Aumenta el tamaño de las casillas */
    background-color: #046c69;
    border: 1px solid black;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.position.ship {
    background-color: blue !important;
}

/* Alinea los botones de control a la derecha */
.buttons-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    width: 30%;
}

/* Estilo para los botones de control */
.buttons-right button, .buttons-right select {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #046c69;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px; /* Tamaño de los botones */
    text-align: center;
}

.buttons-right button:hover {
    background-color: #035a53;
}

/* Estilos para el selector de barco y orientación */
#ship-select, #orientation {
    width: 100%;
    margin-bottom: 10px;
}

/* Estilo para el contenedor de controles debajo del primer tablero */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

/* Ajustes de los botones en la misma altura que el tablero */
.buttons-right {
    align-items: flex-start;
    margin-top: 0;
    margin-left: 20px;
}
